@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Pen+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f0efe9;
    font-family: 'Nanum Pen Script', cursive;;
}
#title{
    box-sizing: border-box;
    display: block;
    position: relative;
    left: 85px;
    padding: 10px;
    text-align: center;
    color: #50e3a4;
    letter-spacing: -.5px;
    font-size: 80px;
    font-weight: bolder;
    font-style: italic;
}